
//Para m치rgenes, paddings y gaps
$espaciados:(
    xs:0.25,
    sm:0.5,
    md:1,
    lg:1.5,
    xl:2
);

$colors:(
    #3498db,
    #2ecc71,
    #e74c3c,
    #f1c40f,
    #2c3e50,
    #ecf0f1
);

//El tama침o de la fuente predeterminada
$font-size-base: 16px;
//El radio por el que se multiplicar치 el valor base para botener los dem치s estilos
$font-scale_ratio: 1.25;

//Puntos de ruptura de la web
$breakpoints:(
    movil:576px,
    tablet:768px,
    ordenador:992px,
    televisor:1200px
);

$border:(
    1:1px,
    2:2px,
    3:4px,
    4:8px
);

$shadows:(
    1:3px 3px 6px black,
    2:6px 6px 12px black,
    3:9px 9px 18px black,
    4:12px 12px 24px black
);



