$espaciados:(
    xs:0.25,
    sm:0.5,
    md:1,
    lg:1.5,
    xl:2
);
$font-size-base: 16px;
$font-scale_ratio: 1.25;

$breakpoints:(
    xs:0,
    xs:576px,
    xs:768px,
    xs:992px,
    xs:1200px
)

